# Clase 3

#### Instalamos Pandas

In [55]:
pip install pandas

Requirement already satisfied: pandas in c:\users\stalin\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\stalin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\stalin\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\stalin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\stalin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\stalin\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

* Importando Pandas

In [56]:
import pandas as pd

* Creacion de Data Frame

In [57]:
data = {
    "apples": [3,2,1,0],
    "oranges": [9,8,7,5]
}

In [58]:
data

{'apples': [3, 2, 1, 0], 'oranges': [9, 8, 7, 5]}

In [59]:
index = ["Carlos", "Ana", "Juan", "Gaby"]

In [60]:
df = pd.DataFrame(data,index=index)

In [61]:
df

        apples  oranges
Carlos       3        9
Ana          2        8
Juan         1        7
Gaby         0        5

* Crear un data frame de calificaciones

In [62]:
calificaciones = {
    "Lubswer":[10,10,10,9,6],
    "Alumno1":[8,9,6,10,10],
    "Alumno2":[9,5,9,7,8]
}

In [63]:
calificaciones

{'Lubswer': [10, 10, 10, 9, 6],
 'Alumno1': [8, 9, 6, 10, 10],
 'Alumno2': [9, 5, 9, 7, 8]}

In [64]:
index2 = ["nota1","nota2","nota3","nota4","nota5"]

In [65]:
df = pd.DataFrame(calificaciones,index = index2)

In [66]:
df

       Lubswer  Alumno1  Alumno2
nota1       10        8        9
nota2       10        9        5
nota3       10        6        9
nota4        9       10        7
nota5        6       10        8

In [67]:
df.loc['nota1']

Lubswer    10
Alumno1     8
Alumno2     9
Name: nota1, dtype: int64

* Guardar Data Frame

In [68]:
df.to_csv("Notitas.csv")

* Guardando en Json

In [69]:
df.to_json("Listado.json")

* Cargando desde csv y json

In [70]:
df1 = pd.read_json("Listado.json")

In [71]:
df2 = pd.read_csv("Notitas.csv", index_col=0)

In [72]:
df1

       Lubswer  Alumno1  Alumno2
nota1       10        8        9
nota2       10        9        5
nota3       10        6        9
nota4        9       10        7
nota5        6       10        8

In [73]:
df2

       Lubswer  Alumno1  Alumno2
nota1       10        8        9
nota2       10        9        5
nota3       10        6        9
nota4        9       10        7
nota5        6       10        8

### SQLite

* Conexión con una base de datos:

In [74]:
#pip install pysqlite3 ya viene instalado

* Importar sqlite3

In [75]:
import sqlite3

In [76]:
con = sqlite3.connect("database.db")

In [77]:
df = pd.read_sql_query("SELECT * FROM compras", con)

In [78]:
df

    index  apples  oranges
0    None     NaN      NaN
1   MILKA     3.0      2.0
2  LUBWER     1.0      1.0

In [79]:
df1 = pd.read_sql_query("SELECT * FROM notas", con)

In [80]:
df1

   Alumnos  Programacion  Análisis  Bases de Datos  Etica
0  Carlos              8         5               7      8
1    Milka             9         4               4      7
2    Bryan             5         3               6      7
3     Alan             0         8               3      8

* DataFrame Peliculas

In [81]:
movies_df = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")

In [82]:
movies_df

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [83]:
movies_df.head()

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [84]:
movies_df.tail()

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

* Informacion de DATAFRAME

In [85]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

* Dimensiones

In [86]:
movies_df.shape

(1000, 11)

**Manejo de duplicados:**

 * Primero vamos a duplicar el contenido del dataset

In [87]:
temp_df = pd.concat([movies_df,movies_df])

* Comprobamos las dimensiones:

In [88]:
temp_df.shape

(2000, 11)

* Eliminar duplicados

In [89]:
temp_df = temp_df.drop_duplicates()

In [90]:
temp_df.shape

(1000, 11)

##### Manejo de valores vacíos

* Buscamos si existen valores vacío:

In [91]:
movies_df.isnull()

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,False,False,False,False,False,False,False,False,False,False,False
Prometheus,False,False,False,False,False,False,False,False,False,False,False
Split,False,False,False,False,False,False,False,False,False,False,False
Sing,False,False,False,False,False,False,False,False,False,False,False
Suicide Squad,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
Secret in Their Eyes,False,False,False,False,False,False,False,False,False,True,False
Hostel: Part II,False,False,False,False,False,False,False,False,False,False,False
Step Up 2: The Streets,False,False,False,False,False,False,False,False,False,False,False
Search Party,False,False,False,False,False,False,False,False,False,True,False
Nine Lives,False,False,False,False,False,False,False,False,False,False,False

* Sumarizamos

In [92]:
movies_df.isnull().sum()

Rank                    0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [93]:
m2 = movies_df.dropna()

In [94]:
m2.isnull().sum()

Rank                  0
Genre                 0
Description           0
Director              0
Actors                0
Year                  0
Runtime (Minutes)     0
Rating                0
Votes                 0
Revenue (Millions)    0
Metascore             0
dtype: int64

* Por lo general lo que se hace es llenar con valores tales como la media o mediana:

In [95]:
revenue = movies_df['Revenue (Millions)']

In [96]:
revenue

Title
Guardians of the Galaxy    333.13
Prometheus                 126.46
Split                      138.12
Sing                       270.32
Suicide Squad              325.02
                            ...
Secret in Their Eyes          NaN
Hostel: Part II             17.54
Step Up 2: The Streets      58.01
Search Party                  NaN
Nine Lives                  19.64
Name: Revenue (Millions), Length: 1000, dtype: float64

In [97]:
revenue_mean = revenue.mean()

In [98]:
revenue_mean

np.float64(82.95637614678898)

In [99]:
revenue.fillna(revenue_mean, inplace=True)

In [100]:
movies_df.isnull().sum()

Rank                   0
Genre                  0
Description            0
Director               0
Actors                 0
Year                   0
Runtime (Minutes)      0
Rating                 0
Votes                  0
Revenue (Millions)     0
Metascore             64
dtype: int64

* Reemplazar columnas de metascore

In [101]:
metascore = movies_df['Metascore']

In [102]:
metascore

Title
Guardians of the Galaxy    76.0
Prometheus                 65.0
Split                      62.0
Sing                       59.0
Suicide Squad              40.0
                           ...
Secret in Their Eyes       45.0
Hostel: Part II            46.0
Step Up 2: The Streets     50.0
Search Party               22.0
Nine Lives                 11.0
Name: Metascore, Length: 1000, dtype: float64

In [103]:
metascore_mean = metascore.mean()

In [104]:
metascore_mean

np.float64(58.98504273504273)

In [105]:
movies_df.isnull().sum()

Rank                   0
Genre                  0
Description            0
Director               0
Actors                 0
Year                   0
Runtime (Minutes)      0
Rating                 0
Votes                  0
Revenue (Millions)     0
Metascore             64
dtype: int64

In [106]:
metascore.fillna(metascore_mean, inplace=True)

In [107]:
movies_df.isnull().sum()

Rank                  0
Genre                 0
Description           0
Director              0
Actors                0
Year                  0
Runtime (Minutes)     0
Rating                0
Votes                 0
Revenue (Millions)    0
Metascore             0
dtype: int64

In [108]:
movies_df.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,96.412043,16.634858
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,17.442500,47.750000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,60.375000,58.985043
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,99.177500,71.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

* Ejercicio de importar el json

In [110]:
carros = pd.read_json("output.json")

In [ ]:
carros

,id,marca,modelo,año,tipo,color,motor,combustible,precio
0,1,Toyota,Corolla,2021,Sedán,Blanco,1.8L,Gasolina,23000
1,2,Honda,Civic,2022,Sedán,Negro,2.0L,Gasolina,25000
2,3,Ford,Ranger,2020,Pickup,Rojo,2.3L EcoBoost,Diésel,32000
3,4,Chevrolet,Tracker,2023,SUV,Gris,1.2L Turbo,Gasolina,28000
4,5,Hyundai,Tucson,2021,SUV,Azul,2.5L,Gasolina,31000
5,6,Kia,Sportage,2022,SUV,Plateado,2.0L,Gasolina,29500
6,7,Tesla,Model 3,2023,Sedán Eléctrico,Blanco Perla,Eléctrico,Eléctrico,42000
7,8,Nissan,Leaf,2022,Hatchback Eléctrico,Verde,Eléctrico 110 kW,Eléctrico,31000
8,9,Mazda,CX-5,2021,SUV,Rojo,2.5L,Gasolina,33000
9,10,Volkswagen,Amarok,2020,Pickup,Negro,3.0L V6 TDI,Diésel,37000

In [ ]:
carros.to_sql("Autos",con)

10

In [ ]:
movies_df.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,96.412043,16.634858
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,17.442500,47.750000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,60.375000,58.985043
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,99.177500,71.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

* Filtar por generos

In [ ]:
movies_df["Genre"].describe()

In [ ]:
movies_df["Genre"].value_counts().head(20)

* Me muestre el mayor reaingtin y ademas me de solo las necesarias

In [ ]:
movies_df[movies_df["Rating"] >= 8.6].head(3)

* Las peores

In [ ]:
movies_df[movies_df["Rating"] <= 4 ].tail(15)

In [ ]:
movies_df[(movies_df["Year"] >= 2000) & (movies_df["Revenue (Millions)"] > 0) & (movies_df["Rating"] >= 8)].head(3)

In [ ]:
movies_df[(movies_df["Year"] >= 2000) & (movies_df["Runtime (Minutes)"] < 10000) & (movies_df["Rating"] <= 5)].tail(3)

In [120]:
print(movies_df.columns)

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

* Importar otro

In [112]:
games = pd.read_csv("Videojuegos.csv", index_col = "Name")

In [113]:
games.columns

Index(['Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')

In [114]:
games

,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
Name,,,,,,,,,,,,,,,
Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
games[ (games["Global_Sales"] <= 50 )].tail(20)

,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
Name,,,,,,,,,,,,,,,
Planet Monsters,GBA,2001.0,Action,Titus,0.01,0.00,0.00,0.0,0.01,67.0,9.0,tbd,NaN,Planet Interactive,E
Breach,PC,2011.0,Shooter,Destineer,0.01,0.00,0.00,0.0,0.01,61.0,12.0,5.8,43.0,Atomic Games,T
Bust-A-Move 3000,GC,2003.0,Puzzle,Ubisoft,0.01,0.00,0.00,0.0,0.01,53.0,4.0,tbd,NaN,Taito Corporation,E
Mega Brain Boost,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.00,0.00,0.0,0.01,48.0,10.0,tbd,NaN,Interchannel-Holon,E
The Longest 5 Minutes,PSV,2016.0,Action,Nippon Ichi Software,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
Mezase!! Tsuri Master DS,DS,2009.0,Sports,Hudson Soft,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
Eiyuu Densetsu: Sora no Kiseki Material Collection Portable,PSP,2007.0,Role-Playing,Falcom Corporation,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
STORM: Frontline Nation,PC,2011.0,Strategy,Unknown,0.00,0.01,0.00,0.0,0.01,60.0,12.0,7.2,13.0,SimBin,E10+
Strawberry Nauts,PSV,2016.0,Adventure,Unknown,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
Plushees,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.0,0.01,NaN,NaN,tbd,NaN,Big John Games,E
15 Days,PC,2009.0,Adventure,DTP Entertainment,0.00,0.01,0.00,0.0,0.01,63.0,6.0,5.8,8.0,DTP Entertainment,NaN
Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01,NaN,NaN,tbd,NaN,Atari,T
Aiyoku no Eustia,PSV,2014.0,Misc,dramatic create,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN